<div class="container" id="books">
<h1 style="text-align:center">BOOK DETAILS ARE AS FOLLOWS:</h1>
<ul>
  <li> NAME:<span>{{bookdetails.details.name}}</span></li>
  <li> NUMBEROFPAGES:<span>{{bookdetails.details.noofpages}}</span></li>
  <li>ISBN:<span>{{bookdetails.details.isbn}}</span></li>
  <li>AUTHOURS:<span ng-repeat="a in bookdetails.details.authors">"{{a}}"</span></li>
  <li>NUMBER OF PAGES IN THE BOOK:<span>{{bookdetails.details.numberOfPages}}</span></li>
  <li>PUBLISHER:<span>{{bookdetails.details.publisher}}</span></li>
  <li>COUNTRY:<span>{{bookdetails.details.country}}</span></li>
  <li>MEDIA TYPE:<span>{{bookdetails.details.mediaType}}</span></li>
  <li>Released date:<span>{{bookdetails.details.released |  date:'MM-dd-yyyy @ h:mma'}}</li>
  <li>characters:<ul>
    <span ng-repeat="b in bookdetails.details.characters"><li><a ng-href='#/Cdet/{{b.split("/").pop()}}'>"{{b}}"</a></li></span>
  </ul> </li>
  <li>Povcharacters:<ul>
    <span ng-repeat="c in bookdetails.details.povCharacters"><li id="list"><a ng-href='#/Cdet/{{c.split("/").pop()}}'>"{{c}}"</a></li></span>

</ul>
<p style="float:center"><a class="btn btn-primary" ng-href="#/" role="button" style="float:center">CLICK TO GO BACK MAIN MENU</a></p>
</div>