<div class="row">
  <div class="col-lg-4">
    <h2 id="charac">CHARACTERS</h2>
    <p id="content">Here you will find details about the characters in Game of thrones. </p>
    <p><a class="btn btn-primary"  role="button" ng-click="main.characterDisplay()">get characters details »</a></p>
  </div>
  <div class="col-lg-4">
    <h2 id="charac1">HOUSES</h2>
    <p id="content">Here you will find details about the houses in Game of thrones.</p>
    <p><a class="btn btn-primary" role="button"  ng-click="main.housesDisplay()">get houses details »</a></p>
 </div>
  <div class="col-lg-4">
    <h2 id="charac2">BOOKS</h2>
    <p id="content">Here you will find details about the books in Game of thrones.</p>
    <p><a class="btn btn-primary" role="button" ng-click="main.booksDisplay()">get books details »</a></p>
  </div>
</div>

<div class="container">
  <!--books-->

  <div class="container" ng-if ="main.books" id="mybook">
      <ul><h3>SEARCHING IN THE PAGE WITH 50 RECORDS</h3>
      <li>SEARCH USING NAME:<input type="text" size="12" ng-model="book.name"></li>
      <li>SEARCH USING publisher:<input type="text" size="12" ng-model="publish.publisher"></li>
      <li><input type="checkbox" ng-model="bookr" value="false">Alphabetically reverse the page records</li>
      <!--<li><h4>input format:mm/dd/yyyy--> <!--FROM DATE<input ng-model="dateFrom" type="text" size="8">TO DATE:<input ng-model="dateTo" type="text" size="8"></h4></li>-->
      </ul>
               <div ng-repeat="bookie in main.bookDAT | filter:book | filter:publish | orderBy:'name':bookr">
                   <directive-book></directive-book>
                </div>

   </div>
   <!--house-->
   <div class="container" ng-if ="main.house" id="myhouse">
     <button type="button" id="prev" class="btn btn-primary" ng-click="first.pageHouse(2)">&larr;Previous</button><button type="button" id="next" class="btn btn-primary" ng-click="main.pageHouse(1)">Next&rarr;</button><button type="button" id="home" class="btn btn-primary" ng-click="main.pageHouse(3)">HOME</button>
     <p>CURRENT PAGE:{{first.Hpagy}}</p>
     <h2 id="title">SEARCHING IN THE PAGE SIZE:50 RECORDS</h2>
     <ul>
     <li>USING HOUSENAME:<input type="text" size="12" ng-model="hn.name"></li>
     <li>USING REGIONNAME:<input type="text" size="12" ng-model="rn.region"></li>
     <li>USING WORDS OF HOUSE:<input type="text" size="12" ng-model="wn.coatOfArms"></li>
     <li><input type="checkbox" ng-model="houser" value="false">Alphabetically reverse the page records</li>

   </ul>

             <div ng-repeat="homie in main.houseDAT | filter:hn | filter:rn |filter:wn | orderBy:'name':houser">
                   <directive-house></directive-house>
              </div>
              <h2 id="title">END OF RECORDS!!</h2>
              <p>CURRENT PAGE:{{main.Hpagy}}</p>
    <button type="button" id="prev" class="btn btn-primary" ng-click="main.pageHouse(2)">&larr;Previous</button><button type="button" id="next" class="btn btn-primary" ng-click="main.pageHouse(1)">Next&rarr;</button><button type="button" id="home" class="btn btn-primary" ng-click="main.pageHouse(3)">HOME</button>


   </div>
  <!--character-->
   <div class="container" ng-if ="main.character" id="mychar">
     <button type="button" id="prev"  class="btn btn-primary" ng-click="main.pageChar(2)">&larr;Previous</button><button type="button" id="next" class="btn btn-primary" ng-click="main.pageChar(1)">Next&rarr;</button><button type="button" id="home" class="btn btn-primary" ng-click="main.pageChar(3)">HOME</button>
         <p>CURRENT PAGE:{{main.Cpagy}}</p>
         <h2 id="title">SEARCHING IN THE PAGE SIZE:50 RECORDS</h2>
       <ul>
          <li>search by name  :<input type="text" size="12" ng-model="cnN.name"></li>
          <li>search by gender : <input type="text" size="12" ng-model="cnG.gender"></li>
          <li>search by culture :<input type="text" size="12" ng-model="cnC.culture"></li>
          <li>search by actor :<input type="text" size="12" ng-model="cnP.playedBy"></li>
          <li><input type="checkbox" ng-model="sort" value="false">Alphabetically reverse the page records</li>
        </ul>

            <div ng-repeat="chart in main.charDAT | filter:cnN | filter:cnG | filter:cnC | filter:cnP | orderBy:'name':sort">
           <directive-character></directive-character>
         </div>
         <h2 id="title">END OF RECORDS!!</h2>
         <p>CURRENT PAGE:{{main.Cpagy}}</p>
     <button type="button" id="prev" class="btn btn-primary" ng-click=",main.pageChar(2)">&larr;Previous</button><button type="button" id="next" class="btn btn-primary" ng-click="main.pageChar(1)">Next&rarr;</button><button type="button" id="home"  class="btn btn-primary" ng-click="main.pageChar(3)">HOME</button>


    </div>
    <h1 id="line">you will find all details above!!</h1>
</div>